appdirs==1.4.4
APScheduler==3.6.3
beautifulsoup4==4.11.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
cssselect2==0.6.0
GrabzIt==3.5.2
idna==3.3
importlib-metadata==4.11.3
lxml==4.8.0
packaging==21.3
Pillow==9.1.0
pyee==8.2.2
pyparsing==3.0.9
pyppeteer==1.0.2
pytesseract==0.3.9
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
reportlab==3.6.9
requests==2.27.1
sdamgia-api==0.1.7
six==1.16.0
soupsieve==2.3.2.post1
svglib==1.2.1
tinycss2==1.1.1
tornado==6.1
tqdm==4.64.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
webencodings==0.5.1
websockets==10.3
zipp==3.8.0
